div {
    position: absolute;
    top: 20%;
    left: 35%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px;
}

input {
    width: 300px;
    border: none;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}

input:focus {
    background-color: rgba(70, 130, 180, 0.35);
}

button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    background-color: fuchsia;
    border: none;
    margin: 15px;
}
